/* ----- Nav bar and hero background css -----*/
a {
  text-decoration:none;
}

#app {
  all: none;
}

.container {
  display: none;
  cursor: pointer;
  z-index: 1;
  position: absolute;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 8px 8px;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 9.6px) ;
  transform: rotate(-45deg) translate(-9px, 9.6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

nav#navbar {
  width: 100%;
  height: 50px;
  background: #232d4b;
  text-align: center;
}

nav div {
  color: #d2d2d2;
  display: inline-block;
  padding: 16px;
  font-family: "Franklin Gothic Medium", "Franklin Gothic", "Arial";
  font-size: 15px;
  font-weight: 300;
}

nav div a {
  color:#d2d2d2;
}

nav div a:hover {
  color:#e57200;
}

#mobileNavbar {
  display:none;
}

h1.hero_text {
  position: absolute;
  left: 10%;
  right: 10%;
  color: #232d4b;
  font-size: 46px;
  z-index: 1;
  font-family: "Franklin Gothic Medium", "Franklin Gothic", "Arial";
  text-align: center;
  margin-top: 24px;
  background: rgba(255, 255, 255, 0.5);
  padding-bottom: 10px;
  padding-top: 10px;
}

div.hero_background {
  background: #e57200;
  padding: 0px;
}

.hero_background img {
  width: 100%;
  opacity: .6;
}

.footer-container {
  background: #232d4b;
  width: 100%;
  height: 50px;
  margin-top: 100px; 
}

@media screen and (max-width:700px) {
  h1.hero_text {
    font-size: 30px;
    position: static;
    display: block;
    color: #e57200;
    left: auto;
    right: auto;
    text-align: center;
  }
  nav#navbar {
    height: 50px;
  }
  nav div {
    display: none;
    height: 14px;
  }
  .container {
    display: inline;
    z-index: 6;
    right: 8px;
  }
  
 nav div.bar1, nav div.bar2, nav div.bar3 {
  z-index: 7;
  display: inline;
  }

  .change ~ #mobileNavbar {
  display:block;
  }

  .change ~ #mobileNavbar div {
  display:block;
  color:#232D4B;
  padding:1.125rem 1.375rem;
  border-bottom: 1px solid #979797;
  }

  nav div a {
  color:#232D4B;
}

}


/* ----- Home page css -----*/

h2#headingSchedule {
  color: #e57200;
  font-size: 36px;
  font-family: "Franklin Gothic Medium", "Franklin Gothic", "Arial";
  text-align: center;
  margin-top: 65px;
    margin-bottom: 26px;
    display:inline-block;
    width:100%;
}

h2#headingWant {
  color: #e57200;
  font-size: 36px;
  font-family: "Franklin Gothic Medium", "Franklin Gothic", "Arial";
  text-align: center;
  margin-top: 15px;
    margin-bottom: 22px;
    width:100%;
}

button#started, button#revise {
  background: #e57200;
  text-transform: uppercase;
  letter-spacing: .09em;
  font-family: "Franklin Gothic Medium", "Franklin Gothic", "Arial";
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  min-width: 210px;
  border: none;
  margin-right: 16px;
}

button#started {
      margin:0;
      margin-right:20px;
    
}

button#revise {
      margin:0;
}

div.buttons {
  text-align: center;
    padding:0;
    margin-left:5%;
    margin-right:5%;
    margin-top: 30px;
}

button:hover {
  opacity: .6;
}

#started ~ p#overlayForMe, #revise ~ p#overlayMyself {
  display:none;
}

#started:hover ~ p#overlayForMe, #revise:hover ~ p#overlayMyself {
  display:block;
    font-size: 20px;
    padding-top:30px;
    position:absolute;
    left:0;
    right:0;
    margin:auto;
    font-family: "Georgia", "sans-serif";
    color: #838383;
}

.hide {
    display:none;
}

p#HPRecP {
  font-size:18px;
  font-family: "Georgia", "sans-serif";
  color: #232d4b;
  padding-top: 20px;
}

h3#hForMyself, h3#hForMe {
   display:none;
   font-size:18px;
   color:#e57200;
}

h3#HPRecHeading {
   display:block;
   font-size:18px;
   color:#e57200;
   margin-top:32px;
   margin-bottom:32px;
}

@media screen and (max-width:700px) {
  button#started {
    margin-right:0;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  button#revise {
    margin-top:16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  h2#headingWant {
    font-size: 27px;
  }
  button#started, button#revise {
    font-size: 16px;
  }
  div.buttons {
    left:0;
    right:0;
    margin-left:0;
    margin-right:0;
    min-width: 200px;
  } 
  #started ~ p#overlayForMe, #revise ~ p#overlayMyself {
    display:block;
  }
  h3#hForMyself, h3#hForMe {
   display:block;
   font-size:18px;
   color:#e57200;
   margin-top:32px;
   margin-bottom:32px;
}
    h2#headingSchedule {
        font-size: 27px;
        margin-top: 22px;
    }

  p#HPRecP {
  font-size:16px;
}

}